<!-- /***************************************************  -->
<!-- * Name   : Kevin Ramirez                              -->
<!-- * Project: To Do List Web App                         -->
<!-- * File   : footer.ejs                                 -->
<!-- * Date   : 10/18/2019                                 -->
<!-- ****************************************************/ -->

<footer>
  Copyright 2019 Mexpresso Inc.
</footer>

  </body>
</html>
