<!-- /***************************************************  -->
<!-- * Name   : Kevin Ramirez                              -->
<!-- * Project: To Do List Web App                         -->
<!-- * File   : header.ejs                                 -->
<!-- * Date   : 10/18/2019                                 -->
<!-- ****************************************************/ -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
